@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The University</h1>
    <p>The university is the place where students study, tutors teach and they have both the knowldge and practical experiences of life.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Campus</h2>
        <p></p>
    </div>

    <div class="col-md-4">
        <h2>Our Courses</h2>
        <p></p>
    </div>

    <div class="col-md-4">
        <h2>Deparments</h2>
        <p></p>
    </div>
</div>